<div class="col-md-12 col-sm-12">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-schedBot">Employee Roles</div>
        </div>
        <div class="portlet-body">
            <form class="form-horizontal">
                <div class="form-body">
                    <div class="form-group">
                        <div class="col-md-12 margin-bottom-15">
                            <label class="col-md-9">Roles:</label>
                            <div class="col-md-3"><button class="btn btn-xs btn-outline blue-steel" type="button" id="updateRoles" name="updateRoles"><i class="fa fa-plus"></i> Update Roles</button></div>
                        </div>
                        <div class="col-md-12">
                            <div id='updateRoles' class='modal fade in' data-toggle="modal" data-target="#updateRolesModal">
                            </div>
                            <div class="table table-responsive table-striped table-hover col-md-12">
                                <table class="col-md-12 table-responsive table-striped table-hover">
                                    <tbody>
                                        <tr>
                                            <td class="col-md-9">Dish Washer</td>
                                            @*<td class="col-md-3"><span class="btn-group btn-group-xs"><button class="btn btn-outline red"><i class="fa fa-trash"></i></button></span></td>*@
                                        </tr>
                                        <tr>
                                            <td class="col-md-9">Cook</td>
                                            @*<td class="col-md-3"><span class="btn-group btn-group-xs"><button class="btn btn-outline red"><i class="fa fa-trash"></i></button></span></td>*@
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="control-label col-md-2">Admin:</label>
                            <div class="col-md-10">
                                <input type="checkbox" />
                            </div>
                        </div>*@
                </div>

                @*<button class="btn btn-block btn-outline green-meadow sbold">Save Roles</button>*@
            </form>
        </div>
    </div>
</div>
