@model IEnumerable<SchedbotDTOs.JobRole>

<div class="col-md-12 col-sm-12">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-schedBot">Employee Roles</div>
        </div>
        <div class="portlet-body">
            <form class="form-horizontal">
                <div class="form-body">
                    <div class="form-group">
                        <div class="col-md-12 margin-bottom-15">
                            <label class="col-md-9">Roles:</label>
                            <div class="col-md-3"><button class="btn btn-xs btn-outline blue-steel" type="button" id="updateRoles" name="updateRoles"><i class="fa fa-plus"></i> Update Roles</button></div>
                        </div>
                        <div class="col-md-12">
                            <div id='updateRoles' class='modal fade in' data-toggle="modal" data-target="#updateRolesModal">
                            </div>
                            <div class="table table-responsive table-striped table-hover col-md-12">
                                <table class="col-md-12 table-responsive table-striped table-hover">
                                    <tbody>
                                      @foreach (var item in Model)
                                      {
                                          <tr>@item.Name</tr><br />
                                      }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                 
                </div>

             
            </form>
        </div>
    </div>
</div>
