@model SchedBot.Models.UserEditViewModel

<div class="col-md-12 col-sm-12">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-schedBot">Employee Roles</div>
        </div>
        <div class="portlet-body">
            <form class="form-horizontal">
                <div class="form-body">
                    <div class="form-group">
                        <div class="col-md-12 margin-bottom-15">
                            <label class="col-md-9">Roles:</label>
                            <div class="col-md-3"><button class="btn btn-xs btn-outline blue-steel" type="button" id="updateRoles" name="updateRoles"><i class="fa fa-plus"></i> Update Roles</button></div>
                        </div>
                        <div class="col-md-12">
                            <div id='updateRoles' class='modal fade in' data-toggle="modal" data-target="#updateRolesModal">
                            </div>
                            <div class="table table-responsive table-striped table-hover col-md-12">
                                <table class="col-md-12 table-responsive table-striped table-hover" >
                                    <tbody name="rolesTable" id="rolesTable">
                                      @foreach (var item in Model.user_jobRoles)
                                      {
                                          <tr>@item.JobRole.Name</tr><br />
                                      }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                 
                </div>

             
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $('#updateRoles').click(function () {
            console.log("table roles grab", $('#rolesTable').text());
            console.info("made inside new request click");
            $('#updateRolesModal').modal('show');

        });
        

        
        
        
        function getRoles(userId){
            $.ajax({
            url: '@Url.Action("Edit", "Users")'
            , type: "get"
            , data: userId
            , success: function (response) {
                
                //find the index where the tbody starts
                var indexStart = response.indexOf('<tbody name="rolesTable" id="rolesTable">');
                //get the sting length 
                var tbodyStartLength = '<tbody name="rolesTable" id="rolesTable">'.length;
                //find where the tbody ends
                var indexEnd = response.indexOf('</tbody>');
                
                //slice the string to be just the list of trs with data only
                var trs = response.slice(indexStart + tbodyStartLength, indexEnd);

                
                //replace all of the <tr> and </tr> tags from the string
                trs = trs.replace(/<tr>/gi, "");
                trs = trs.replace(/<\/tr>/gi, "");
                
                //get the div from  the screen
                var realRows = $('div.table').html();
                //find where the table tag in the div starts
                var rrTable = realRows.indexOf('<table');
                //the the list of tr tags from screen
                realRows = realRows.slice(rrTable);

                //replace the screen html with the updated data + the tr rows
                $('div.table').html(trs + realRows);

                                
            }
            , error: function (response) {
                sweetAlert("Oops...", "Something went wrong getting roles data!", "error");
            }
        });
        }
        
        
        $('#updateRolesSubmit').click(function () {
        
        var model_to_update = $('#rolesModalForm');
            var userId = $('#user_UserId').val();

        console.info("Inside availability click...", userId);
        
        
        $.ajax({
            url: '@Url.Action("SaveRoles", "Users")'
            , type: "POST"
            , data: model_to_update.serialize()
            , success: function (response) {
                $('#updateRolesModal').modal('toggle');
                
                getRoles(userId);
                swal('Success!', 'User roles successfully updated', 'success');
                                
            }
            , error: function (response) {
                $('#updateRolesModal').modal('toggle');
                //sweetAlert("Oops...", "Something went wrong!", "error");
                
                swal({
          title: 'Oops...',
          text: "Something went wrong! Would you like to return to the modal?",
          type: 'error',
          showCancelButton: true,
          confirmButtonText: 'Yes, return to modal',
          cancelButtonText: 'No, cancel',
          confirmButtonClass: 'btn btn-primary margin-right-10',
          cancelButtonClass: 'btn btn-danger',
          buttonsStyling: false
        }).then(function () {
          $('#updateRolesModal').modal('toggle');
        }, function (dismiss) {
          // dismiss can be 'cancel', 'overlay',
          // 'close', and 'timer'
          if (dismiss === 'cancel') {
            //hook in way to clear data
          }
        })
                
            }
        });
    });

    });
</script>