
<div class="modal fade" id="requestDenyModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        @using (Html.BeginForm("", "", new { area = "" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>*@
                    <h4 class="modal-title" id="requestDenyHeader">Deny Request</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Reason For Denial:</label>
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control denyReason" rows="5"></textarea>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger pull-right denyRequestConfirmBtn" value="Deny Request" />
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal" style="margin-right: 15px;">Cancel</button>
                </div>
            </div>
        }

    </div>
</div>

