
<div class="modal fade" id="timeOffDetailsModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        @using (Html.BeginForm("Register", "Account", new { area = "" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>*@
                    <h4 class="modal-title" id="requestDetailsHeader">Request Details</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label"><b>Employee:</b> </label>&nbsp; <span id="employeeName"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label"><b>Request Date(s):</b> </label>&nbsp; <span id="requestTimeSpan"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label"><b>Request Status:</b> </label>&nbsp; <span id="requestStatus"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label"><b>Reason:</b> </label>
                        </div>
                        <div class="col-md-12">
                            <span id="requestReason"></span>
                        </div>
                        <div class="col-md-12" id="denyLabel">
                            <label class="control-label"><b>Deny Reason:</b> </label>
                        </div>
                        <div class="col-md-12" id="denyReasonDiv">
                            <span id="denyReason">I have a presentation on my senior design project Monday night.</span>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" style="margin-right: 15px;">Close</button>
                </div>
            </div>
        }

    </div>
</div>