@model SchedBot.Models.RequestViewModel


<div>

    <div class="form-group">

        <div class="col-md-4">

            <label class="control-label">Current Shift:</label>

        </div>
        <div class="col-md-8 no-padding">

            <div class="col-md-12 no-padding">

               @Html.DropDownListFor(model => model.UserShifts, Model.UserShifts, new { @class = "form-control" })

            </div>


        </div>
    </div>

</div>

<div>

    <div class="form-group">

        <div class="col-md-4">

            <label class="control-label">Employee to Trade:</label>

        </div>
        <div class="col-md-8 no-padding">

            <div class="col-md-12 no-padding">

                @Html.DropDownListFor(model => model.Users,Model.Users, new { @class = "form-control" })

            </div>


        </div>

    </div>

</div>
<div id="TradableShifts" data-request-url="@Url.Action("PopulateTradeRequestSelectedUserShifts","Requests",new { Area = "" })">
   
   @Html.Partial("TradableShiftsPartial",Model)
</div>
