
<div class="modal fade" id="tradeDetailsModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        @using (Html.BeginForm("Register", "Account", new { area = "" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>*@
                    <h4 class="modal-title" id="requestDetailsHeader">Request Details</h4>
                </div>
                <div class="modal-body form-horizontal" style="margin-top:35px;">

                    <div class="form-group">
                        <div class="col-md-5 col-sm-5 col-xs-5 text-center">
                            <div class="col-md-12">
                                <i class="col-md-12 col-sm-12 fa fa-5x fa-user text-center"></i>
                            </div>
                            <div class="col-md-12" style="margin-top:25px;">
                                <label class="control-label text-center"> <b id="sendingUser">Send Employee</b> </label>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label"><b>Shift:</b> </label>&nbsp;<span id="originalDate">11/29/2016</span> <br /> <span id="originalTimes">10:30AM - 4:30PM</span>
                            </div>
                        </div>
                    
                        <div class="col-md-2 col-sm-2 col-xs-2 text-center" style="margin-top:35px;">
                            <i class="fa fa-exchange fa-5x"></i>
                        </div>
                    
                        <div class="col-md-5 col-sm-5 col-xs-5 text-center">
                            <div class="col-md-12">
                                <i class="col-md-12 col-sm-12 fa fa-5x fa-user text-center"></i>
                            </div>
                            <div class="col-md-12" style="margin-top:25px;">
                                <label class="control-label text-center"><b id="receivingUser">Receive Employee</b> </label>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label"><b>Shift:</b> </label>&nbsp;<span id="tradingDate">11/28/2016</span> <br /> <span id="tradingTimes">4:00PM - 9:00PM</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top:25px;">
                        <div class="col-md-12">
                            <label class="control-label"><b>Trade Status:</b> </label>
                        </div>
                        <div class="col-md-12">
                            <span id="tradeStatus"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label"><b>Trade Reason:</b> </label>
                        </div>
                        <div class="col-md-12">
                            <span id="tradeReason">I have a presentation on my senior design project Monday night.</span>
                        </div>
                        <div class="col-md-12" id="denyLabel">
                            <label class="control-label"><b>Deny Reason:</b> </label>
                        </div>
                        <div class="col-md-12" id="denyReasonDiv">
                            <span id="denyReason">I have a presentation on my senior design project Monday night.</span>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" style="margin-right: 15px;">Close</button>
                </div>
            </div>
        }

    </div>
</div>