@{
    ViewBag.Title = "Sched-Bot Home";
    ViewBag.Current = "Dashboard";
}



<h3 class="page-title">
    Dashboard
    @*<small>blank page layout</small>*@
</h3>

<div class="col-md-12">





    <div class="col-md-12 col-sm-12">
        <div class="portlet light portlet-fit  calendar">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-layers font-schedBot"></i>
                    <span class="caption-subject font-schedBot sbold uppercase">Schedules</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div id="calendar" class="has-toolbar"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>




@*@section Scripts{
        @Scripts.Render("~/Scripts/fullcalendar.min.js")
        @Scripts.Render("~/Scripts/jquery-ui.min.js")
        @Scripts.Render("~/Scripts/calendar.min.js")
    }*@