@{
    ViewBag.Title = "Sched-Bot Home";
    ViewBag.Current = "Dashboard";
}



<h3 class="page-title">
    Dashboard
    @*<small>blank page layout</small>*@
</h3>

@*<div class="col-md-9 col-sm-12">
    <div id="calendar" class="has-toolbar"> </div>
</div>*@

<div class="col-md-12">





    <div class="col-md-12 col-sm-12">
        <div class="portlet light portlet-fit  calendar">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-layers font-schedBot"></i>
                    <span class="caption-subject font-schedBot sbold uppercase">Schedules</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div id="calendar" class="has-toolbar"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    @*<div class="col-md-3 col-sm-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-schedBot">Today</div>
                <div class="tools">
                    <button class="btn btn-xs green-meadow btn-outline"><i class="fa fa-plus"></i></button>
                </div>

            </div>
            <div class="portlet-body table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <td class="col-md-5 col-sm-5">Andrew</td>
                            <td class="col-md-5 col-sm-5">12p-6p</td>
                            <td class="col-md-2 col-sm-2"><button class="btn btn-xs red-mint btn-outline pull-right" title="Remove Shift"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr>
                            <td class="col-md-5 col-sm-5">Adam</td>
                            <td class="col-md-5 col-sm-5">12p-6p</td>
                            <td class="col-md-2 col-sm-2"><button class="btn btn-xs red-mint btn-outline pull-right" title="Remove Shift"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr>
                            <td class="col-md-5 col-sm-5">Ahmad</td>
                            <td class="col-md-5 col-sm-5">12p-6p</td>
                            <td class="col-md-2 col-sm-2"><button class="btn btn-xs red-mint btn-outline pull-right" title="Remove Shift"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr>
                            <td class="col-md-5 col-sm-5">Mary</td>
                            <td class="col-md-5 col-sm-5">12p-6p</td>
                            <td class="col-md-2 col-sm-2"><button class="btn btn-xs red-mint btn-outline pull-right" title="Remove Shift"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr>
                            <td class="col-md-5 col-sm-5">Sarah</td>
                            <td class="col-md-5 col-sm-5">12p-6p</td>
                            <td class="col-md-2 col-sm-2"><button class="btn btn-xs red-mint btn-outline pull-right" title="Remove Shift"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr>
                            <td class="col-md-5 col-sm-5">James</td>
                            <td class="col-md-5 col-sm-5">12p-6p</td>
                            <td class="col-md-2 col-sm-2"><button class="btn btn-xs red-mint btn-outline pull-right" title="Remove Shift"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                        </tr>
                        <tr>
                            <td class="col-md-5 col-sm-5">John</td>
                            <td class="col-md-5 col-sm-5">12p-6p</td>
                            <td class="col-md-2 col-sm-2"><button class="btn btn-xs red-mint btn-outline pull-right" title="Remove Shift"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>*@
</div>




@*@section Scripts{
        @Scripts.Render("~/Scripts/fullcalendar.min.js")
        @Scripts.Render("~/Scripts/jquery-ui.min.js")
        @Scripts.Render("~/Scripts/calendar.min.js")
    }*@